@import url(normalise.css);

@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Tenor+Sans&display=swap');

/* Global faults */

body {
  
    background-image: url("../Images/pouring-copy.jpg");
    
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    font-size: 16px;
    line-height: 2;
    
} 

h1,h2,h3,h4,h5{
    

    font-size: 32px;
}

img{
    max-width: 100%;
}

a { 
    color: rgb(214, 168, 127);
    text-decoration: none;
}

a:hover{
    color: rgb(202, 150, 97);
    text-decoration: none;
}

/* layouts*/
.layout-wide {
    background-color: rgba(119, 132, 114,0.7);

    max-width: 1200px;
    padding: 40px;
    margin-left: auto;
    margin-right: auto;
    line-height: normal;
}

/* Headings and typography */

h1,h2,h3,h4,h5 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/* header */


.header-image{max-width: 10px;}

.header-image{max-height: 10px}

.header-text{font-size: 5rem;}

.header-text{font-family: cursive;}

.header-text{}

header.layout-wide{display: grid;
grid-template-columns: 200px;}

.logo {
    display: grid;
    grid-template-columns: 30px auto;
    grid-gap: 20px;
}

/* navigation */

.navigation {
background-color: (var--alternate-color);
}

.main-nav {
    list-style: none;
    padding: 0;
}

.main-nav li{
    text-align: center;
    text-transform: uppercase;
}
.main-nav a{ 
    color: (var--main-color);
}

/* footer */ 

footer {text-align: center;}

/* modelues */

first {
    background-color:black;
  }
  .second {
    background-color: black;
  }
  .third {
    background-color: black;
  }
  
  
  @media screen and (min-width: 200px) {
    
    .whatever {
      display: grid;
      grid-template-columns:  auto auto auto;
      grid-gap: 50px;
    }
  }